.colorFlex{
	width:50px;
	height:40px;
	border-radius:5px;
	cursor:pointer;
}
.imageContent.layout-2 {
    height: 355px;
   /*  width: 100% !important; */
}
.imageContent{
	/* width: 100% !important; */
}
.ui-dialog { 
	z-index: 10000 !important;
}
.imageContent.layout-11 {
    height: 294px;
    /* width: 100% !important; */
}
/* #page_content {
    width: 100% !important;
    height: auto !important;
} */
.page_content{
	width:475px;
	height:420px;
}
.imageContent {
    /* height: 294px; */
}
/* .closeTxtleft{
	cursor: pointer;
	height: 25px;
	bottom: 21px;
	background: url({{URL::asset('public/images/close-button.png')}}) no-repeat scroll 0 0 transparent;
	position: absolute;
	right: 200px;
	bottom: 37px;
	width: 30px;
} */
.closeTxtleft {
	cursor: pointer;
	height: 22px;
	background: url('../images/close-button.png') no-repeat scroll 0 0 transparent;
	width: 25px;
	margin-left: 20px;
	margin-top: 2px;
}
.imageContent.layout-4{
	height: auto;
	padding: 15px;
	max-width: 100%;
	margin: 0 auto;
	/* width: 100% !important; */
}
.imageContent.layout-6 {
    margin: 0 auto;
    padding: 15px;
    /* width: 100% !important; */
}
.textinside > div{
	width: 100%;
}
.imageContent.layout-1 {
	/* height: 294px; */
	/* width: 100% !important; */
}
.box_1_1{
	width: 100%;
	height: 80%;
	float: left;
	margin: 3% 0%;
    border: 1px dotted #fff;
    overflow: hidden;
}
.box_1_2{
	width: 100%;
	height: 38%;
	float: left;
	margin: 3% 0% auto;
    border: 1px dotted #fff;
    overflow: hidden;
    /* margin-bottom: 20px; */
}
.box_2_2{
	width: 100%;
	height: 38%;
	float: left;
	margin: 3% 0%;
    border: 1px dotted #fff;
    overflow: hidden;
}
.layout-5 .row{height:90%;}
.layout-5 .row .row{
	height:50%;
} 
.layout-4 .col{
	height:45%;
}
.layout-10 .row{
	height:100%;
}
.layout-6 .row{
	height:100%;
}
.layout-9 .row{
	height:100%;
}
.imageContent.dynmicContainer{
	/* width: 100% !important; */
	padding: 15px;
	height: 330px;
	max-width: 100%;
	margin:0 auto;
}
.imageContent.layout-5 {
    height: auto;
    max-width: 594px;
    margin: 0 auto;
    padding: 15px;
    /* width: 100% !important; */
}
.col.align-self-start.p-0 {
	height: 85%;
}
.box_1_3{
	width: 50%;
	height: 30%;
	margin: 0;
	overflow: hidden;
	border: 1px dotted #fff;
	margin:0;
}
.box_2_3{
	width: 50%;
	height: 30%;
	/* margin: 0 !important; */
	margin: 3% auto;
	overflow: hidden;
	border: 1px dotted #fff;
}
.box_3_3 {
	width: 50%;
	height: 30%;
	margin: 3% 50% auto;
	overflow: hidden;
	border: 1px dotted #fff;
}
.box_1_4{
	height: 100%;
	float: left;
    border: 1px dotted #fff;
    overflow: hidden;
	width:100%;
}
.box_2_4{
	height: 100%;
	float: left;
    border: 1px dotted #fff;
    overflow: hidden;
	width:100%;
}
.box_3_4{
	height: 100%;
	float: left;
    border: 1px dotted #fff;
    overflow: hidden;
	width:100%;
}
.box_4_4{
	height: 100%;
	float: left;
    border: 1px dotted #fff;
    overflow: hidden;
	width:100%;
}
.box_left_1_1{
	height: 100%;
	width: 100%;
	float: left;
	margin: 0;
	border: 1px dotted #fff;
	overflow: hidden;
}
.layout-6 .box_left_1_1{
	/* height: 365px; */
}
.box_right_1_1{
	width: 100%;
	height: 350px;
	margin: 0px 0px;
	float: left;
	border: 1px dotted #fff;
}
.imageContent.layout-9 .box_right_1_1{
	/* width: auto; */
	height: 100%;
}
.imageContent.layout-10 {
    padding: 15px;
    margin: 0 auto;
    /* width:100% !important; */
}
.imageContent.layout-10 .textbottom {
    width: 100%;
    min-height: 70px;
    margin-bottom: 0;
    text-align: center;
}
.imageContent.layout-10 .box_left_1_1{
	/* height: 365px; */
}
.box_right_1_2 {
    height: 90%;
    width: 100%;
    float: right;
    border: 1px dotted #fff;
    overflow: hidden;
    margin-bottom: 25px;
}
.box_right_2_2{
	height: 100%;
	width: 100%;
	float: right;
	border: 1px dotted #fff;
	overflow: hidden;
}
.text{
	width: 200px;
	float: left;
	margin: 20px 0px;
	border: 1px dotted #fff;
	min-height: 270px;
	max-height: 300px;
	word-wrap: break-word;
	color: #ffffff;
	max-height: 300px;
}
.textboxs{
	width: 400px;
	max-height: 300px;
	margin: 20px 38px;
	color: #ffffff;
	border: 1px dotted #fff;
	min-height: 350px;
	max-height: 300px;
	word-wrap: break-word;
	overflow: hidden;
}
.textcont{
	width: 400px;
	float: left;
	margin-left: 34px;
	color: #ffffff;
	border: 1px dotted #fff;
	cursor: pointer;
	word-wrap: break-word;
	overflow: hidden;
	margin-top:30px;
}
.onetext{
	color: #ffffff;
	float: left;
	border: 1px dotted #fff;
	min-height: 365px;
	word-wrap: break-word;
	overflow: hidden;
	width: 100%;
	margin: 0;
}
.twotext{
	width: 100%;
	color: #ffffff;
	float: left;
	margin: 0;
	border: 1px dotted #fff;
	min-height: 100%;
	word-wrap: break-word;
	overflow: hidden;
}
.imageContent.layout-8 {
    max-width: 430px;
    padding: 15px;
    padding-top: 50px;
    margin: 0 auto;
}
.imageContent.layout-8 .onetext,
.imageContent.layout-8 .twotext{
	min-height: 100%;
}
.imageContent.layout-9 {
    max-width: 100%;
    padding: 15px;
    margin: 0 auto;
    /* width: 100% !important; */
}
.imageContent.layout-9 .onetext{
	min-height: 100%;
}
.box_full{
	width: 100%;
	height: 91%;
	margin: 20px auto;
	float: left;
	word-wrap: break-word;
	border: 1px dotted #fff;
	overflow:hidden;
}
.textbottom{
	width: 200px;
	float: left;
	margin: 20px 0px;
	border: 1px dotted #fff;
	min-height: 350px;
	word-wrap: break-word;
	color: #ffffff;
}
.zooming{
	float: left;
	margin: 0;
	line-height: 0px;
}
.inputBox {
	padding-top: 0px;
	word-wrap: break-word;
	max-width: 100%;
	margin: 3% auto;
	width:100%
}
.layout-5 .inputBox{
	padding-top:0%;
}
.w-100 {
	width: 100% !important;
	height: 1%;
}
.layout-4 .row{height:90%;}
.book_pages .thumbimage {
    padding: 0;
}
.textcontleft {
    /* width: 400px;
	float: left; 
	margin: 0px 35px 0px;*/
    color: #ffffff;
    border: 1px dotted #fff;
    cursor: pointer;
    word-wrap: break-word;
    overflow: hidden;
    height: 27px;
}
.left-second .thumbimage { 
	width: 90px; 
	height: 80px; 
	border: red 1px solid; 
	cursor: move;
}
.areas .thumbimage { 
	width: 100%; 
}
#cart_count{
	background-color: #10cfbd;
	border-radius: 5px;
	padding-right: 3px;
	padding-left: 3px;
}
.ui-dialog-content > div {
    width: 100% !important;
}

/*Mohit added below css 02-03-2018 */


#nicEdit_dialog .nicEdit-main {
	width:100%!important;
}
.lightSlider .page_content {
	width: 99%;
	/* background-color: rgb(16, 126, 162) !important; */
}
/*.lightSlider li:nth-child(even) .page_content {
	margin-left: 1%;
}
.lightSlider li:nth-child(odd) .page_content {
	margin-right: 1%;
}*/

.lightSlider li {
	margin-right: 2%;
}

#preview_dialog .lightSlider, #preview_dialog .lSSlideWrapper {
	height: 100% !important;
}
#preview_dialog .lightSlider, #preview_dialog {
	display: flex;
	display: -webkit-flex;
}

#preview_dialog .lSSlideOuter  {
	width: 960px !important;
}
.book_pages .lSSlideOuter{
	width: 960px;
}
#preview_dialog { background-color: rgb(197, 194, 194); justify-content: center; -webkit-justify-content: center;}
#preview_dialog { padding: 0 !important; align-items: center; -webkit-align-items: center;}
#preview_dialog, .ui-corner-all.ui-front.ui-draggable.preview-large  { height: 100% !important;}
.bg-img-inner {
	width: 100%;
	height: 100%;
	/* position: absolute; */
	z-index: 99999;
	top: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.ui-corner-all.ui-front.ui-draggable.preview-large {
	top:0 !important;
}


.bg-img {
	overflow: hidden;
	position: relative;
	height:100%;
}
#save_pages {
	margin: 10px auto 0;
	display: inherit;
	background: #0099cc;
	border-radius: 0;
	padding: 10px 26px;
	border: 0;
}
.lslide > span {
	background: #0099cc;
	width: 99%;
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 15px;
	padding: 5px 0;
}

.row.customRow2 {
	height: 100%;
}
.row.customRow3 {
    height: 100%;
}
/*
#preview_dialog { height: 100% !important;}
.ui-corner-all.ui-front.ui-draggable {
	top: 0 !important;
	left: 0 !important;
	height: 100% !important;
	width:100%!important;
}*/