.ui-widget-header {
  background-color: #0099cc !important;
  background-image: none !important;
}
.ui-dialog-titlebar-close {
  background-color: #ffffff !important;
  background-image: none !important;
  border-radius: 50% !important;
  height: 25px !important;
  width: 25px !important;
  top: 44% !important;
}
.ui-button-icon-only .ui-icon {
	margin-left: -9px !important;
}
button:focus {
	outline: none !important;
}